
div{
  text-align: center;
  font-size: 30px;
  width:100%;
  height: 390px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
  display: none;
}

h1{
  font-weight: bold;

}
  
img{ 
  text-align: center;
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
  font-family:Lucida Console;
  text-align: left;
}




.timeclass{
  font-size: 45px;
}
  
  
.floatleft{
  float: left;
  display: block;
}

.floatright{
  float: right;
  display: block;
}

.HoriList{ /* Header and Footer black bar */
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #333333;
  color: white;
  /* background: linear-gradient(to bottom, #6dd5ed 0%, #2193b0 100%);
  color: black;*/
}





.heading {
  text-align: center;
  color: cornflowerblue;
  font-family:Copperplate;
  font-weight: bold;
  text-decoration:underline;
  font-size: 30px;
}



li a:hover {
  background-color: #111111;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align:center;
  padding: 18px;
  text-decoration: none;
}


/* ------------------- NOT USED ------------------- */
.text3{
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  padding: 30px;
  border: 5px solid blue;
  
}







.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*change to orange*/
.material-icons.orange600 { color: #FB8C00; }
 


button{
  background:#007a78;
  color: white;
  border: solid 1px white;

  cursor:pointer;
  padding:18px 10px;
  width: 160px;
  height: 80px;
  margin: 10px;
  outline: none;
} 

.circle {
  background:#007a78;
  color: white;
  border: solid 1px white;
  width: 120px;
  height: 120px;
  border-radius: 50%
}
  
